.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;


  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 2rem;
  }
}
