/* stylelint-disable no-invalid-position-at-import-rule */

@import "./helpers/**/*";
@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./pages/**/*";

:root {
  /* layouts: */
  --max-container-width: 1680rem;
  --content-padding: 8rem;
  --header-height: 17.2rem;

  /* typography: */
  --main-ff: "Manrope", sans-serif;

  /* colors: */
  --color-dark: #333;
  --color-bg: #fafcfe;
  --White: #fff;
  --Text: #1A1B1C;
  --color-grey-600: #99a5b0;
  --color-grey-300: #eff1f5;
  --font-body: 400 1.6rem/1.2 var(--main-ff);

  /* etc: */
  --transition: 200ms ease-in;
}
